/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: https://github.com/MLGESUS5183/fightstick/blob/master/assets/base.png center no-repeat;
    height: 150px;
    width: 450px;
}

.fight-stick .triggers {
    width: 149px;
    height: 74px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.fight-stick .trigger-button {
    width: 74px;
    height: 74px;
    background: #4c4c4c;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.fight-stick .trigger-button.pressed {
    -webkit-filter: invert(1);
}

.fight-stick .trigger-button.left {
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
}

.fight-stick .trigger-button.right {
    float: left;
}

.fight-stick .bumpers {
    width: 149px;
    height: 74px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fight-stick .bumper {
    width: 74px;
    height: 74px;
    background: #4c4c4c;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.fight-stick .bumper.pressed {
    -webkit-filter: invert(1);
}

.fight-stick .bumper.left {
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
}

.fight-stick .bumper.right {
    float: left;
}

.fight-stick .abxy {
    position: absolute;
    width: 149px;
    height: 150px;
    bottom: 0px;
    left: 151px;
}

.fight-stick .button {
    width: 74px;
    height: 74px;
    background: #4c4c4c;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .a {
    bottom: 0px;
    left: 0px;
}

.fight-stick .b {
    bottom: 0px;
    right: 0px;
}

.fight-stick .x {
    top: 0px;
    left: 0px
}

.fight-stick .y {
    right: 0px;
    top: 0px;
}

.fight-stick .fstick {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
    background: https://github.com/MLGESUS5183/fightstick/blob/master/assets/stick.png;
}

.fight-stick .fstick.up {
    background-position-y: -50px;
}

.fight-stick .fstick.down {
    background-position-y: +50px;
}

.fight-stick .fstick.left {
    background-position-x: +50px;
}

.fight-stick .fstick.right {
    background-position-x: -50px;
}

.fight-stick .fstick.up.right {
    background-position-x: -50px;
    background-position-y: -50px;
}

.fight-stick .fstick.up.left {
    background-position-x: +50px;
    background-position-y: -50px;
}

.fight-stick .fstick.down.right {
    background-position-x: -50px;
    background-position-y: +50px;
}

.fight-stick .fstick.down.left {
    background-position-x: +50px;
    background-position-y: +50px;
}

/*END Fight Stick Controller Styling*/
